* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  position: relative;
}

p {
  color: red;
}

.test {
  display: flex;
}

.menu-tree {
  position: absolute;
  width: 150px;
  left: 0;
  top: 0;
  li {
    display: block;
    padding: 20px 0;
  }
}

.main-content {
  width: 100%;
  padding-left: 180px;
}

.menu-tab {
  display: flex;
  li {
    padding: 10px;
    margin-right: 10px;
    list-style: none;
  }
  a {
    text-decoration: none;
  }
}

.tab-a-container {
  display: grid;
  grid-template-columns: repeat(5, 20% [col-start]);
}